@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Playfair+Display:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  margin: 0;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: auto;
  overflow-x: hidden;

}



.container {
  text-align: center;
}

/* Padding-top should match the navbar's total height */
.main-content {
  padding-top: 64px; /* Adjust based on your navbar's actual height */
  width: 100vw;
  box-sizing: border-box; /* Includes padding in the width calculation */
}


.nav {
  background-color: #2F855A; /* Deep forest green */
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
  width: 100vw;

}

.site-title {
  font-weight: bold;
  font-size: 1.6em;
  color: #EDF6F9; /* Off-white for the main title */
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav ul li button {
  padding: 0rem 0rem ;
}

.nav ul li a {
  color: #EDF6F9; /* Off-white for links */
  text-decoration: none;
}

.nav ul li a:hover, .nav ul li a:focus {
  color: #F6E05E; /* Bright yellow for hover and focus */
}

.logout {
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.logout a {
  color: white;
}


.form_wrapper{
  display: flex;
  justify-content: center;
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  max-width: 800px;
  margin: 2rem auto;
}

.input,
.select {
  width: 100%;
  padding: 0.75rem 1rem;
  border-radius: 4px;
  border: 1px solid #cbd5e0;
  margin-bottom: 1rem;
}

.input:focus,
.select:focus {
  outline: none;
  border-color: #3182ce;
  box-shadow: 0 0 0 1px #3182ce;
}
.label {
  display: block;
  margin-bottom: 0.5rem;
  color: #4a5568;
  font-size: 1rem;
}

.form_content{
  display: flex;
  flex-direction: column;
  max-width: 648px;
  
}
.form_unit input{
  display: block;
}
.form_unit label{
  display: block;
  text-align: left;
  font-size: 14px;
  display: inline;
}


/* Apply font families */
body {
  font-family: 'Nunito', sans-serif;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}

@layer utilities {

.input-field {
  @apply border-2 border-gray-300 p-3 rounded outline-none focus:border-sky;
}
}

/* .dashboard-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
} */


/* Additional styling for other sections */
.header, .footer {
  background-color: #333;
  color: white;
  padding: 10px;
}

/* Style individual sections as needed */
.trends-section, .categories-section, .brands-section, .featured-products-section {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;        
  margin: 10px 10px 5px 10px;       
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  width: 300px;           /* Fixed width for cards */
  max-height: 300px;      /* Maximum height with overflow management */
  overflow: hidden;       /* Hide overflow */
}

.card:hover {
  transform: scale(1.05);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Takes the full height of the viewport */
}

.card-icon {
  margin-bottom: 8px;    /* Adjusted spacing */
  font-size: 100rem;        /* Larger icon size */
}


.card-icon:hover {
  transform: scale(1.1); /* Makes the icon slightly larger when hovered */
  
}

.card h3 {
  color: #333;           /* Dark color for text for better readability */
  margin: 10px 0 5px;    /* Spacing around the heading */
  font-size: 1.2rem;     /* Slightly larger font size for heading */
}

.card p {
  color: #666;           /* Lighter color for paragraph for subtlety */
  font-size: 1rem;       /* Standard font size for paragraph */
  margin: 0;             /* Remove default margin */
}

.card:hover {
  transform: translateY(-5px); /* Slight raise effect on hover */
  cursor: pointer;            /* Pointer cursor on hover */
}

@media (max-width: 768px) {
  .card {
    width: 90%;           /* Full width on smaller screens */
    margin: 15px auto;    /* Center cards horizontally with margin */
  }
}